<h2 style="color:purple">Data Cleaning and Preparation</h2>

## Import Dependencies

In [4]:
import pandas as pd
import numpy as np

## Loading the Data

In [6]:
# Load CSV files with low_memory=False to suppress the dtype warning, or specify dtypes explicitly
# Create a list to store DataFrames for casualties, collisions, and vehicles
casualty_dfs = []
collision_dfs = []
vehicle_dfs = []

# Define the years you want to load data for
years = [2019, 2020, 2021, 2022, 2023]

# Loop through each year and load the corresponding CSV files
for year in years:
    casualty_df = pd.read_csv(f'data/dft-road-casualty-statistics-casualty-{year}.csv', low_memory=False)
    collision_df = pd.read_csv(f'data/dft-road-casualty-statistics-collision-{year}.csv', low_memory=False)
    vehicle_df = pd.read_csv(f'data/dft-road-casualty-statistics-vehicle-{year}.csv', low_memory=False)
    
    # Append each DataFrame to the respective list
    casualty_dfs.append(casualty_df)
    collision_dfs.append(collision_df)
    vehicle_dfs.append(vehicle_df)

# Concatenate all the DataFrames into a single DataFrame for each category
df_casualty_all = pd.concat(casualty_dfs, ignore_index=True)
df_collision_all = pd.concat(collision_dfs, ignore_index=True)
df_vehicle_all = pd.concat(vehicle_dfs, ignore_index=True)

# Load the Excel data guide
df_guide = pd.read_excel('data/dft-road-casualty-statistics-road-safety-open-dataset-data-guide-2023.xlsx')

# Optionally, print the shapes of the combined DataFrames to verify
print(f'Combined Casualty DataFrame shape: {df_casualty_all.shape}')
print(f'Combined Collision DataFrame shape: {df_collision_all.shape}')
print(f'Combined Vehicle DataFrame shape: {df_vehicle_all.shape}')

Combined Casualty DataFrame shape: (665408, 21)
Combined Collision DataFrame shape: (520084, 37)
Combined Vehicle DataFrame shape: (953559, 34)

**Preview of Loaded Data**

In [8]:
df_casualty_all.head()

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,...,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile,lsoa_of_casualty,enhanced_casualty_severity,casualty_distance_banding
0,2019010128300,2019,010128300,1,1,1,1,58,9,3,...,0,0,0,0,9,1,2,E01003175,-1,2
1,2019010128300,2019,010128300,1,2,2,2,-1,-1,3,...,0,1,0,0,9,1,5,E01003411,-1,3
2,2019010128300,2019,010128300,1,3,2,2,-1,-1,3,...,0,2,0,0,9,1,5,E01003413,-1,3
3,2019010152270,2019,010152270,1,1,1,2,24,5,3,...,0,0,0,0,9,1,3,E01003180,-1,1
4,2019010155191,2019,010155191,2,1,2,2,21,5,3,...,0,0,0,0,1,1,1,E01016964,-1,4

In [9]:
df_collision_all.head()

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location,enhanced_severity_collision
0,2019010128300,2019,010128300,528218.0,180407.0,-0.153842,51.508057,1,3,2,...,1,1,1,0,0,1,3,2,E01004762,-1
1,2019010152270,2019,010152270,530219.0,172463.0,-0.127949,51.436208,1,3,2,...,4,1,1,0,0,1,3,2,E01003117,-1
2,2019010155191,2019,010155191,530222.0,182543.0,-0.124193,51.526795,1,3,2,...,4,1,1,0,0,1,1,2,E01000943,-1
3,2019010155192,2019,010155192,525531.0,184605.0,-0.191044,51.546387,1,2,1,...,4,1,1,0,0,1,1,2,E01000973,-1
4,2019010155194,2019,010155194,524920.0,184004.0,-0.200064,51.541121,1,3,2,...,4,1,1,0,0,1,1,2,E01000546,-1

In [10]:
df_vehicle_all.head()

,accident_index,accident_year,accident_reference,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,vehicle_location_restricted_lane,...,generic_make_model,driver_imd_decile,driver_home_area_type,lsoa_of_driver,escooter_flag,dir_from_e,dir_from_n,dir_to_e,dir_to_n,driver_distance_banding
0,2019010128300,2019,010128300,1,9,0,99,9,9,99,...,-1,2,1,E01003175,0,NaN,NaN,NaN,NaN,2
1,2019010128300,2019,010128300,2,9,0,99,9,9,99,...,-1,2,1,E01003175,0,NaN,NaN,NaN,NaN,2
2,2019010152270,2019,010152270,1,9,0,18,9,9,99,...,-1,3,1,E01003180,0,NaN,NaN,NaN,NaN,1
3,2019010152270,2019,010152270,2,9,0,18,9,9,99,...,-1,6,1,E01001160,0,NaN,NaN,NaN,NaN,1
4,2019010155191,2019,010155191,1,9,0,3,5,1,0,...,-1,4,1,E01031231,0,NaN,NaN,NaN,NaN,5

**Merge the dataframes**

In [12]:
# Merge the dataframes
df_temp = df_casualty_all.merge(df_collision_all, on='accident_index', how='inner', suffixes=('', '_collision'))
df_merged = df_temp.merge(df_vehicle_all, on='accident_index', how='inner', suffixes=('', '_vehicle'))

# Drop duplicated columns from df_collision and df_vehicle, retaining only columns from df_casualty where duplicated
df_merged = df_merged[[col for col in df_merged.columns if not col.endswith(('_collision', '_vehicle'))]]

In [13]:
df_merged.head(10)

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,...,generic_make_model,driver_imd_decile,driver_home_area_type,lsoa_of_driver,escooter_flag,dir_from_e,dir_from_n,dir_to_e,dir_to_n,driver_distance_banding
0,2019010128300,2019,010128300,1,1,1,1,58,9,3,...,-1,2,1,E01003175,0,NaN,NaN,NaN,NaN,2
1,2019010128300,2019,010128300,1,1,1,1,58,9,3,...,-1,2,1,E01003175,0,NaN,NaN,NaN,NaN,2
2,2019010128300,2019,010128300,1,2,2,2,-1,-1,3,...,-1,2,1,E01003175,0,NaN,NaN,NaN,NaN,2
3,2019010128300,2019,010128300,1,2,2,2,-1,-1,3,...,-1,2,1,E01003175,0,NaN,NaN,NaN,NaN,2
4,2019010128300,2019,010128300,1,3,2,2,-1,-1,3,...,-1,2,1,E01003175,0,NaN,NaN,NaN,NaN,2
5,2019010128300,2019,010128300,1,3,2,2,-1,-1,3,...,-1,2,1,E01003175,0,NaN,NaN,NaN,NaN,2
6,2019010152270,2019,010152270,1,1,1,2,24,5,3,...,-1,3,1,E01003180,0,NaN,NaN,NaN,NaN,1
7,2019010152270,2019,010152270,1,1,1,2,24,5,3,...,-1,6,1,E01001160,0,NaN,NaN,NaN,NaN,1
8,2019010155191,2019,010155191,2,1,2,2,21,5,3,...,-1,4,1,E01031231,0,NaN,NaN,NaN,NaN,5
9,2019010155191,2019,010155191,2,1,2,2,21,5,3,...,-1,-1,-1,-1,0,NaN,NaN,NaN,NaN,-1

**Apply the data labels to the merged dataframe**

In [15]:
# Create a mapping dictionary based on field names and their respective codes/labels
field_code_label_map = {}
for _, row in df_guide.iterrows():
    field_name = row['field name']
    code = row['code/format']
    label = row['label']
    # Initialize a dictionary for each field if it doesn't exist
    if field_name not in field_code_label_map:
        field_code_label_map[field_name] = {}
    # Add the code-to-label mapping for each field
    field_code_label_map[field_name][code] = label

# Apply the labels to the merged dataframe, retaining original values where no mapping is found
for col in df_merged.columns:
    if col in field_code_label_map:
        df_merged[col] = df_merged[col].apply(lambda x: field_code_label_map[col].get(x, x))

# Display the final merged dataframe with labels and retained original values where no mapping exists
df_merged.head()

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,...,generic_make_model,driver_imd_decile,driver_home_area_type,lsoa_of_driver,escooter_flag,dir_from_e,dir_from_n,dir_to_e,dir_to_n,driver_distance_banding
0,2019010128300,2019,010128300,1,1,Driver or rider,Male,58,56 - 65,Slight,...,-1,More deprived 10-20%,Urban area,E01003175,Vehicle was not an e-scooter,NaN,NaN,NaN,NaN,Collision occurred between 5.001 and 10km of d...
1,2019010128300,2019,010128300,1,1,Driver or rider,Male,58,56 - 65,Slight,...,-1,More deprived 10-20%,Urban area,E01003175,Vehicle was not an e-scooter,NaN,NaN,NaN,NaN,Collision occurred between 5.001 and 10km of d...
2,2019010128300,2019,010128300,1,2,Passenger,Female,Data missing or out of range,Data missing or out of range,Slight,...,-1,More deprived 10-20%,Urban area,E01003175,Vehicle was not an e-scooter,NaN,NaN,NaN,NaN,Collision occurred between 5.001 and 10km of d...
3,2019010128300,2019,010128300,1,2,Passenger,Female,Data missing or out of range,Data missing or out of range,Slight,...,-1,More deprived 10-20%,Urban area,E01003175,Vehicle was not an e-scooter,NaN,NaN,NaN,NaN,Collision occurred between 5.001 and 10km of d...
4,2019010128300,2019,010128300,1,3,Passenger,Female,Data missing or out of range,Data missing or out of range,Slight,...,-1,More deprived 10-20%,Urban area,E01003175,Vehicle was not an e-scooter,NaN,NaN,NaN,NaN,Collision occurred between 5.001 and 10km of d...

## Data Inspection

In [17]:
df_merged.shape

(1273427, 83)

In [18]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1273427 entries, 0 to 1273426
Data columns (total 83 columns):
 #   Column                                       Non-Null Count    Dtype
---  ------                                       --------------    -----
 0   accident_index                               1273427 non-null  object
 1   accident_year                                1273427 non-null  int64
 2   accident_reference                           1273427 non-null  object
 3   vehicle_reference                            1273427 non-null  int64
 4   casualty_reference                           1273427 non-null  int64
 5   casualty_class                               1273427 non-null  object
 6   sex_of_casualty                              1273427 non-null  object
 7   age_of_casualty                              1273427 non-null  object
 8   age_band_of_casualty                         1273427 non-null  object
 9   casualty_severity                            1273427 non-null  object
 10  pedestrian_location                          1273427 non-null  object
 11  pedestrian_movement                          1273427 non-null  object
 12  car_passenger                                1273427 non-null  object
 13  bus_or_coach_passenger                       1273427 non-null  object
 14  pedestrian_road_maintenance_worker           1273427 non-null  object
 15  casualty_type                                1273427 non-null  object
 16  casualty_home_area_type                      1273427 non-null  object
 17  casualty_imd_decile                          1273427 non-null  object
 18  lsoa_of_casualty                             1273427 non-null  object
 19  enhanced_casualty_severity                   1273427 non-null  object
 20  casualty_distance_banding                    1273427 non-null  object
 21  location_easting_osgr                        1273200 non-null  float64
 22  location_northing_osgr                       1273200 non-null  float64
 23  longitude                                    1273200 non-null  float64
 24  latitude                                     1273200 non-null  float64
 25  police_force                                 1273427 non-null  object
 26  accident_severity                            1273427 non-null  object
 27  number_of_vehicles                           1273427 non-null  int64
 28  number_of_casualties                         1273427 non-null  int64
 29  date                                         1273427 non-null  object
 30  day_of_week                                  1273427 non-null  object
 31  time                                         1273427 non-null  object
 32  local_authority_district                     1273427 non-null  object
 33  local_authority_ons_district                 1273427 non-null  object
 34  local_authority_highway                      1273427 non-null  object
 35  first_road_class                             1273427 non-null  object
 36  first_road_number                            1273427 non-null  object
 37  road_type                                    1273427 non-null  object
 38  speed_limit                                  1273427 non-null  object
 39  junction_detail                              1273427 non-null  object
 40  junction_control                             1273427 non-null  object
 41  second_road_class                            1273427 non-null  object
 42  second_road_number                           1273427 non-null  object
 43  pedestrian_crossing_human_control            1273427 non-null  object
 44  pedestrian_crossing_physical_facilities      1273427 non-null  object
 45  light_conditions                             1273427 non-null  object
 46  weather_conditions                           1273427 non-null  object
 47  road_surface_conditions                      1273427 non-null  object
 48  special_conditions_at_site                   62341 non-null    object
 49  carriageway_hazards                          54356 non-null    object
 50  urban_or_rural_area                          1273427 non-null  object
 51  did_police_officer_attend_scene_of_accident  1273427 non-null  object
 52  trunk_road_flag                              1273427 non-null  object
 53  lsoa_of_accident_location                    1273427 non-null  object
 54  vehicle_type                                 1273427 non-null  object
 55  towing_and_articulation                      1273427 non-null  object
 56  vehicle_manoeuvre                            1273427 non-null  object
 57  vehicle_direction_from                       1273427 non-null  object
 58  vehicle_direction_to                         1273427 non-null  object
 59  vehicle_location_restricted_lane             1273427 non-null  object
 60  junction_location                            1273427 non-null  object
 61  skidding_and_overturning                     223951 non-null   object
 62  hit_object_in_carriageway                    151670 non-null   object
 63  vehicle_leaving_carriageway                  1273427 non-null  object
 64  hit_object_off_carriageway                   162187 non-null   object
 65  first_point_of_impact                        1273427 non-null  object
 66  vehicle_left_hand_drive                      1273427 non-null  object
 67  journey_purpose_of_driver                    1273427 non-null  object
 68  sex_of_driver                                1273427 non-null  object
 69  age_of_driver                                1273427 non-null  object
 70  age_band_of_driver                           1273427 non-null  object
 71  engine_capacity_cc                           1273427 non-null  object
 72  propulsion_code                              1273427 non-null  object
 73  generic_make_model                           1273427 non-null  object
 74  driver_imd_decile                            1273427 non-null  object
 75  driver_home_area_type                        1273427 non-null  object
 76  lsoa_of_driver                               1273427 non-null  object
 77  escooter_flag                                1273427 non-null  object
 78  dir_from_e                                   106174 non-null   float64
 79  dir_from_n                                   106174 non-null   float64
 80  dir_to_e                                     104789 non-null   float64
 81  dir_to_n                                     104789 non-null   float64
 82  driver_distance_banding                      1039893 non-null  object
dtypes: float64(8), int64(5), object(70)
memory usage: 806.4+ MB

## Data Cleaning & Preparation

**Drop Unnecessary Columns**

In [21]:
# Define the columns to drop with standard single quotes
columns_to_drop = [
    'accident_reference', 'vehicle_reference', 'casualty_reference', 
    'pedestrian_location', 'pedestrian_movement', 'car_passenger', 'bus_or_coach_passenger',
    'pedestrian_road_maintenance_worker', 'casualty_type', 'casualty_home_area_type',
    'casualty_imd_decile', 'lsoa_of_casualty', 'enhanced_casualty_severity', 
    'casualty_distance_banding', 'location_easting_osgr', 'location_northing_osgr', 
    'local_authority_district', 'local_authority_ons_district', 'local_authority_highway', 
    'first_road_class', 'first_road_number', 'second_road_class', 'second_road_number', 
    'pedestrian_crossing_human_control', 'pedestrian_crossing_physical_facilities', 
    'special_conditions_at_site', 'carriageway_hazards', 
    'did_police_officer_attend_scene_of_accident', 'trunk_road_flag', 
    'lsoa_of_accident_location', 'towing_and_articulation', 'vehicle_manoeuvre', 
    'vehicle_direction_from', 'vehicle_direction_to', 'vehicle_location_restricted_lane', 
    'junction_location', 'skidding_and_overturning', 'hit_object_in_carriageway', 
    'vehicle_leaving_carriageway', 'hit_object_off_carriageway', 'first_point_of_impact', 
    'vehicle_left_hand_drive', 'journey_purpose_of_driver', 'engine_capacity_cc', 
    'propulsion_code', 'generic_make_model', 'driver_imd_decile', 'driver_home_area_type', 
    'lsoa_of_driver', 'escooter_flag', 'dir_from_e', 'dir_from_n', 'dir_to_e', 
    'dir_to_n', 'driver_distance_banding','police_force','casualty_severity','sex_of_casualty',
    'age_of_casualty','age_band_of_casualty','sex_of_driver','casualty_class'
]

# Drop the specified columns from the dataframe
accident_df = df_merged.drop(columns=columns_to_drop)

# Display the resulting dataframe
accident_df.head()

,accident_index,accident_year,longitude,latitude,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,...,speed_limit,junction_detail,junction_control,light_conditions,weather_conditions,road_surface_conditions,urban_or_rural_area,vehicle_type,age_of_driver,age_band_of_driver
0,2019010128300,2019,-0.153842,51.508057,Slight,2,3,18/02/2019,Monday,17:50,...,30,Roundabout,Auto traffic signal,Daylight,Fine no high winds,Dry,Urban,Car,58,56 - 65
1,2019010128300,2019,-0.153842,51.508057,Slight,2,3,18/02/2019,Monday,17:50,...,30,Roundabout,Auto traffic signal,Daylight,Fine no high winds,Dry,Urban,Car,Data missing or out of range,Data missing or out of range
2,2019010128300,2019,-0.153842,51.508057,Slight,2,3,18/02/2019,Monday,17:50,...,30,Roundabout,Auto traffic signal,Daylight,Fine no high winds,Dry,Urban,Car,58,56 - 65
3,2019010128300,2019,-0.153842,51.508057,Slight,2,3,18/02/2019,Monday,17:50,...,30,Roundabout,Auto traffic signal,Daylight,Fine no high winds,Dry,Urban,Car,Data missing or out of range,Data missing or out of range
4,2019010128300,2019,-0.153842,51.508057,Slight,2,3,18/02/2019,Monday,17:50,...,30,Roundabout,Auto traffic signal,Daylight,Fine no high winds,Dry,Urban,Car,58,56 - 65

In [22]:
# Step 1: Filter rows where speed_limit is 30
accident_30mph = accident_df[accident_df['speed_limit'] == 30]

# Step 2: Convert 'age_of_driver' to numeric (handle non-numeric values as NaN)
accident_30mph['age_of_driver'] = pd.to_numeric(accident_30mph['age_of_driver'], errors='coerce')

# Step 3: Remove rows with NaN in 'age_of_driver'
accident_30mph = accident_30mph.dropna(subset=['age_of_driver'])

# Step 4: Convert 'age_of_driver' to integers (remove decimal points)
accident_30mph['age_of_driver'] = accident_30mph['age_of_driver'].astype(int)

/var/folders/1t/2k9g0vt97jvgdjn266ps90m80000gn/T/ipykernel_27754/3050838226.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accident_30mph['age_of_driver'] = pd.to_numeric(accident_30mph['age_of_driver'], errors='coerce')

In [23]:
accident_30mph.head()

,accident_index,accident_year,longitude,latitude,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,...,speed_limit,junction_detail,junction_control,light_conditions,weather_conditions,road_surface_conditions,urban_or_rural_area,vehicle_type,age_of_driver,age_band_of_driver
0,2019010128300,2019,-0.153842,51.508057,Slight,2,3,18/02/2019,Monday,17:50,...,30,Roundabout,Auto traffic signal,Daylight,Fine no high winds,Dry,Urban,Car,58,56 - 65
2,2019010128300,2019,-0.153842,51.508057,Slight,2,3,18/02/2019,Monday,17:50,...,30,Roundabout,Auto traffic signal,Daylight,Fine no high winds,Dry,Urban,Car,58,56 - 65
4,2019010128300,2019,-0.153842,51.508057,Slight,2,3,18/02/2019,Monday,17:50,...,30,Roundabout,Auto traffic signal,Daylight,Fine no high winds,Dry,Urban,Car,58,56 - 65
6,2019010152270,2019,-0.127949,51.436208,Slight,2,1,15/01/2019,Tuesday,21:45,...,30,Not at junction or within 20 metres,Data missing or out of range,Darkness - lights lit,Fine no high winds,Dry,Urban,Car,24,21 - 25
8,2019010155191,2019,-0.124193,51.526795,Slight,2,1,01/01/2019,Tuesday,01:50,...,30,T or staggered junction,Give way or uncontrolled,Darkness - lights lit,Fine no high winds,Dry,Urban,Car,45,36 - 45

In [24]:
# Drop the 'speed_limit' column from the DataFrame
accident_30mph = accident_30mph.drop(columns=['speed_limit'])

In [25]:
accident_30mph.describe()

,accident_year,longitude,latitude,number_of_vehicles,number_of_casualties,age_of_driver
count,553499.000000,553423.000000,553423.000000,553499.000000,553499.000000,553499.000000
mean,2020.888587,-1.287970,52.432122,2.082605,1.645241,40.481311
std,1.439133,1.348418,1.293390,0.748814,1.185792,16.631764
min,2019.000000,-7.412812,49.914329,1.000000,1.000000,1.000000
25%,2020.000000,-2.155349,51.463091,2.000000,1.000000,27.000000
50%,2021.000000,-1.277166,52.158614,2.000000,1.000000,38.000000
75%,2022.000000,-0.175499,53.421221,2.000000,2.000000,52.000000
max,2023.000000,1.757999,60.388637,14.000000,41.000000,102.000000

**Handle Missing Values**

In [27]:
# Check for missing values 
accident_30mph.isnull().sum()

accident_index              0
accident_year               0
longitude                  76
latitude                   76
accident_severity           0
number_of_vehicles          0
number_of_casualties        0
date                        0
day_of_week                 0
time                        0
road_type                   0
junction_detail             0
junction_control            0
light_conditions            0
weather_conditions          0
road_surface_conditions     0
urban_or_rural_area         0
vehicle_type                0
age_of_driver               0
age_band_of_driver          0
dtype: int64

In [28]:
# Drop rows with missing values in 'longitude' and 'latitude' columns
accident_30mph = accident_30mph.dropna(subset=['longitude', 'latitude'])

# Display the resulting dataframe after dropping rows
print(f"Number of rows after dropping missing values: {accident_30mph.shape[0]}")

Number of rows after dropping missing values: 553423

**Handle Duplicate Rows**

In [30]:
# Check the number of duplicate rows in accident_df
num_duplicates = accident_30mph.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

# Drop duplicate rows and keep the first occurrence
accident_30mph = accident_30mph.drop_duplicates()

# Verify that duplicates have been removed
print(f"Number of duplicate rows after dropping: {accident_30mph.duplicated().sum()}")

# Print the number of rows after removing duplicates
print(f"Number of rows after dropping duplicates: {accident_30mph.shape[0]}")

Number of duplicate rows: 122383
Number of duplicate rows after dropping: 0
Number of rows after dropping duplicates: 431040

**Check Unique Values in Categorical Columns**

In [32]:
# Filter categorical columns (object or category types), except 'Date' and 'Time'
categorical_columns = accident_30mph.select_dtypes(include=['object', 'category']).columns
categorical_columns = categorical_columns.difference(['date', 'time'])

# Check unique values for categorical columns
for column in categorical_columns:
    print(f"Unique values in '{column}':")
    print(accident_30mph[column].unique())
    print()  # For spacing

Unique values in 'accident_index':
['2019010128300' '2019010152270' '2019010155191' ... '2023991445738'
 '2023991452286' '2023991453360']

Unique values in 'accident_severity':
['Slight' 'Serious' 'Fatal']

Unique values in 'age_band_of_driver':
['56 - 65' '21 - 25' '36 - 45' '26 - 35' '46 - 55' '16 - 20' 'Over 75'
 '66 - 75' '11 - 15' '6 - 10' '0 - 5']

Unique values in 'day_of_week':
['Monday' 'Tuesday' 'Wednesday' 'Thursday' 'Friday' 'Saturday' 'Sunday']

Unique values in 'junction_control':
['Auto traffic signal' 'Data missing or out of range'
 'Give way or uncontrolled' 'unknown (self reported)' 'Stop sign'
 'Authorised person' 'Not at junction or within 20 metres']

Unique values in 'junction_detail':
['Roundabout' 'Not at junction or within 20 metres'
 'T or staggered junction' 'Crossroads'
 'More than 4 arms (not roundabout)' 'Other junction'
 'unknown (self reported)' 'Slip road' 'Mini-roundabout'
 'Private drive or entrance' 'Data missing or out of range']

Unique values in 'light_conditions':
['Daylight' 'Darkness - lights lit' 'Darkness - lighting unknown'
 'Darkness - lights unlit' 'Darkness - no lighting'
 'Data missing or out of range']

Unique values in 'road_surface_conditions':
['Dry' 'Wet or damp' 'unknown (self reported)' 'Frost or ice' 'Snow'
 'Flood over 3cm. deep' 'Data missing or out of range']

Unique values in 'road_type':
['Roundabout' 'One way street' 'Single carriageway' 'Dual carriageway'
 'Slip road' 'Unknown']

Unique values in 'urban_or_rural_area':
['Urban' 'Rural']

Unique values in 'vehicle_type':
['Car' 'Pedal cycle' 'Taxi/Private hire car'
 'Motorcycle over 125cc and up to 500cc' 'Motorcycle 125cc and under'
 'Bus or coach (17 or more pass seats)' 'Motorcycle over 500cc'
 'Motorcycle 50cc and under' 'Van / Goods 3.5 tonnes mgw or under'
 'Minibus (8 - 16 passenger seats)' 'Goods 7.5 tonnes mgw and over'
 'Other vehicle' 'Motorcycle - unknown cc'
 'Goods vehicle - unknown weight' 'Electric motorcycle' 'Ridden horse'
 'Goods over 3.5t. and under 7.5t' 'Unknown vehicle type (self rep only)'
 'Tram' 'Agricultural vehicle' 'Mobility scooter'
 'Data missing or out of range']

Unique values in 'weather_conditions':
['Fine no high winds' 'Other' 'Unknown' 'Fine + high winds'
 'Raining no high winds' 'Fog or mist' 'Snowing no high winds'
 'Raining + high winds' 'Snowing + high winds'
 'Data missing or out of range']

**Mapping and Standardizing Categorical Variables in Accident Data**

In [34]:
# Define mapping dictionaries
junction_control_map = {
    "Auto traffic signal": "Traffic_Signal",
    "Data missing or out of range": None,
    "unknown (self reported)": None,
    "Give way or uncontrolled": "Uncontrolled",
    "Stop sign": "Stop_Sign",
    "Authorised person": "Authorised_Person",
    "Not at junction or within 20 metres":"Not_at_junction"
}

junction_detail_map = {
    "Other junction": "Unknown",
    "T or staggered junction": "Staggered",
    "Roundabout": "Roundabout",
    "Private drive or entrance": "Private_Entrance",
    "Not at junction or within 20 metres": "No_Junction",
    "Crossroads": "Crossroads",
    "Mini-roundabout": "Mini_Roundabout",
    "More than 4 arms (not roundabout)": "Complex",
    "unknown (self reported)": None,
    "Slip road": "Slip_Road",
    "Data missing or out of range": None
}
    
light_conditions_map = {
    "Darkness - lights lit": "Dark_Lit",
    "Daylight": "Daylight",
    "Darkness - no lighting": "Dark_No_Light",
    "Darkness - lights unlit": "Dark_unlit",
    "Darkness - lighting unknown": "Dark_Unknown",
    "Data missing or out of range": None
}

road_surface_map = {
    "Dry": "Dry",
    "Wet or damp": "Wet",
    "Snow": "Snow",
    "Frost or ice": "Ice",
    "Flood over 3cm. deep": "Flood",
    "unknown (self reported)": None,
    "Data missing or out of range": None
}

road_type_map = {
    "Single carriageway": "Single",
    "Dual carriageway": "Dual",
    "Roundabout": "Roundabout",
    "One way street": "One_Way",
    "Slip road": "Slip_Road",
    "Unknown": None
}

vehicle_type_map = {
    "Bus or coach (17 or more pass seats)": "Bus_Coach",
    "Car": "Car",
    "Pedal cycle": "Bicycle",
    "Motorcycle 125cc and under": "Motorcycle",
    "Taxi/Private hire car": "Taxi_Private",
    "Motorcycle 50cc and under": "Motorcycle",
    "Motorcycle over 125cc and up to 500cc": "Motorcycle",
    "Van / Goods 3.5 tonnes mgw or under": "Light_Van",
    "Motorcycle over 500cc": "Motorcycle",
    "Other vehicle": "Other_Vehicle",
    "Minibus (8 - 16 passenger seats)": "Minibus",
    "Goods 7.5 tonnes mgw and over": "HeavyGoods",
    "Electric motorcycle": "Motorcycle",
    "Motorcycle - unknown cc": "Motorcycle",
    "Mobility scooter": "Scooter",
    "Goods vehicle - unknown weight": "Other_Vehicle",
    "Goods over 3.5t. and under 7.5t":"MediumGoods",
    "Agricultural vehicle": "Agricultural_Vehicle",
    "Ridden horse": "Horse",
    "Tram":"Tram",
    "Unknown vehicle type (self rep only)": None,
    "Data missing or out of range":None
}

weather_conditions_map = {
    "Fine no high winds": "Clear",
    "Raining no high winds": "Rain",
    "Snowing no high winds": "Snow",
    "Fine + high winds": "Windy_Clear",
    "Raining + high winds": "Windy_Rain",
    "Snowing + high winds": "Windy_Snow",
    "Fog or mist": "Fog",
    "Other": None,
    "Unknown": None,
    "Data missing or out of range":None
}

In [35]:
# Apply mappings to the DataFrame
accident_30mph['junction_control'] = accident_30mph['junction_control'].map(junction_control_map)
accident_30mph['junction_detail'] = accident_30mph['junction_detail'].map(junction_detail_map)
accident_30mph['light_conditions'] = accident_30mph['light_conditions'].map(light_conditions_map)
accident_30mph['road_surface_conditions'] = accident_30mph['road_surface_conditions'].map(road_surface_map)
accident_30mph['road_type'] = accident_30mph['road_type'].map(road_type_map)
accident_30mph['vehicle_type'] = accident_30mph['vehicle_type'].map(vehicle_type_map)
accident_30mph['weather_conditions'] = accident_30mph['weather_conditions'].map(weather_conditions_map)

In [36]:
accident_30mph.isnull().sum()

accident_index                  0
accident_year                   0
longitude                       0
latitude                        0
accident_severity               0
number_of_vehicles              0
number_of_casualties            0
date                            0
day_of_week                     0
time                            0
road_type                    6773
junction_detail              4123
junction_control           143853
light_conditions               13
weather_conditions          22329
road_surface_conditions      5172
urban_or_rural_area             0
vehicle_type                  171
age_of_driver                   0
age_band_of_driver              0
dtype: int64

**Imputing Missing Values in Categorical Variables**

In [38]:
# Creating a copy of the dataframe to avoid modifying the original data
accident_30mph_df = accident_30mph.copy()

# List of categorical columns to impute with the mode
categorical_columns = [
    'road_type', 'junction_detail','junction_control','light_conditions','weather_conditions',
    'road_surface_conditions','vehicle_type'
]

# Imputing the categorical features with the mode (most frequent value)
for col in categorical_columns:
    mode_value = accident_30mph_df[col].mode()[0]
    accident_30mph_df[col] = accident_30mph_df[col].fillna(mode_value)

# Verifying that missing values have been handled
print(accident_30mph_df.isnull().sum())

accident_index             0
accident_year              0
longitude                  0
latitude                   0
accident_severity          0
number_of_vehicles         0
number_of_casualties       0
date                       0
day_of_week                0
time                       0
road_type                  0
junction_detail            0
junction_control           0
light_conditions           0
weather_conditions         0
road_surface_conditions    0
urban_or_rural_area        0
vehicle_type               0
age_of_driver              0
age_band_of_driver         0
dtype: int64

**Extracting Date and Time Components**

In [40]:
# Ensure 'date' column is in datetime format with the correct format specified
accident_30mph_df['date'] = pd.to_datetime(accident_30mph_df['date'], format='%d/%m/%Y', errors='coerce')

# Extract Month, Day from the 'date' column
accident_30mph_df['month'] = accident_30mph_df['date'].dt.month
accident_30mph_df['day'] = accident_30mph_df['date'].dt.day

# Ensure 'time' column is in datetime format; if time is in a specific format, specify it
accident_30mph_df['time'] = pd.to_datetime(accident_30mph_df['time'], format='%H:%M', errors='coerce')

# Extract Hour from the 'time' column after conversion
accident_30mph_df['hour'] = accident_30mph_df['time'].dt.hour

In [41]:
accident_30mph_df['slight'] = (accident_30mph_df['accident_severity'] == 'Slight').astype(int)

In [42]:
accident_30mph_df.head()

,accident_index,accident_year,longitude,latitude,accident_severity,number_of_vehicles,number_of_casualties,date,day_of_week,time,...,weather_conditions,road_surface_conditions,urban_or_rural_area,vehicle_type,age_of_driver,age_band_of_driver,month,day,hour,slight
0,2019010128300,2019,-0.153842,51.508057,Slight,2,3,2019-02-18,Monday,1900-01-01 17:50:00,...,Clear,Dry,Urban,Car,58,56 - 65,2,18,17,1
6,2019010152270,2019,-0.127949,51.436208,Slight,2,1,2019-01-15,Tuesday,1900-01-01 21:45:00,...,Clear,Dry,Urban,Car,24,21 - 25,1,15,21,1
8,2019010155191,2019,-0.124193,51.526795,Slight,2,1,2019-01-01,Tuesday,1900-01-01 01:50:00,...,Clear,Dry,Urban,Car,45,36 - 45,1,1,1,1
9,2019010155191,2019,-0.124193,51.526795,Slight,2,1,2019-01-01,Tuesday,1900-01-01 01:50:00,...,Clear,Dry,Urban,Bicycle,33,26 - 35,1,1,1,1
11,2019010155194,2019,-0.200064,51.541121,Slight,2,2,2019-01-01,Tuesday,1900-01-01 00:40:00,...,Clear,Dry,Urban,Car,47,46 - 55,1,1,0,1

**Exporting the Cleaned Dataset to a CSV**

In [73]:
accident_30mph_clean = accident_30mph_df
accident_30mph_clean.to_csv("data/30mph_accident_clean_data1.csv", index=False)

print("DataFrame exported to 30mph_accident_clean_data.csv successfully!")

DataFrame exported to 30mph_accident_clean_data.csv successfully!